@import url("../basic.css");

table {
    border-spacing: 18px;
    border-collapse: separate;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

b {
    font-weight: bold;
}

h3 {
    margin-top: 10px;
}

/* th,
td {
    text-align: center;
    font-weight: normal;
    vertical-align: middle;
    color: red;
} */

.sort {
    font-weight: bold;
}


th {
    padding-bottom: 3px;
    border-bottom: 2px solid gray;
    position: relative;
}

th:hover,
td:hover {
    color: darkcyan;
    font-weight: bold;
}

#tableBody td {
    border-bottom: 1px dashed gray;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid gray;
    display: inline;
    position: absolute;
    margin-left: 3px;
}

.arrow-reverse {
    transform: rotate(180deg);
}

a:link {
    font-weight: bold;
}

.search {
    margin: 50px 0 10px;
}

#search-bar {
    width: 350px;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: width 0.2s;
    -webkit-appearance: none;
    /* outline: none; */
}

/*move to basic*/
/* .button {
    width: 100px;
    padding: 8px;
    margin-left: 5px;
    background-color: SlateGrey;
    font-size: 15px;
    color: white;
    transition: width 0.2s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-appearance: none;
    outline: none;
} */

.radioButton {
    margin-right: 5px;
}

#clear-button {
    background-color: salmon;
}

.home-button {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -40px;
    color: white;
}

.home-button:visited {
    color: white;
}