@import url("../basic.css");

.tree {
    text-align: left;
    display: block;
}

.tree.main-tree {
    width: 30em;
    display: inline-block;
}

.tree:not(.main-tree) {
    padding-left: 1.2em;
}

.tree:not(.main-tree) li {
    overflow: hidden;
    height: 0;
    display: block;
}

.tree label {
    display: block;
    cursor: pointer;
    color: #717780;
    border-bottom: 1px dashed #B0B9C5;
    padding: 1.125em 1.125em 1.125em 0;
}

.tree label:before {
    width: 1em;
    height: 1em;
    line-height: 1em;
    display: inline-block;

    padding-right: .75em;
}

#tasks-label:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f022";
}

#main-label:before {
    font-family: "FontAwesome", sans-serif;
    content: "\f023";
}

.tree label:hover {
    color: #434a58;
    border-bottom-color: #434a58;
}

.tree .tree_link a {
    padding: 1.500em 1.125em 0.750em 0;
    display: block;
    border-radius: .2em;
    color: #717780;
    text-decoration: none;
}

.tree .tree_link a:hover {
    color: #434a58;
}

.tree.nested {
    padding-left: 1.7em;
}

.tree [type="checkbox"] {
    display: none;
}

.tree [type="checkbox"]:checked+label {
    color: #434a58;
    border-bottom-color: #434a58;
}

.tree [type="checkbox"]:checked~ul>li {
    height: auto;
}

